<!DOCTYPE html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Market</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />

     <link rel="stylesheet" type="text/css" media="screen,projection" href="css/menu.css" />

</head>

    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/content_slider.css" />
    <link rel="stylesheet" type="text/css" href="css/goods.css" />
    <script type="text/javascript" src="js/vendors/jquery.1.3.2.min.js" ></script>
    <script type="text/javascript" src="js/vendors/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#featured > ul").tabs({fx:{opacity: "toggle"}}).tabs("rotate", 5000, true);
        });
    </script>
</head>
<body>

<div id="templatemo_wrapper_outer">

    <div id="templatemo_wrapper">

        <div id="templatemo_header">
            <div id="site_title">
                <h1><img src="images/templatemo_logo.png" alt="logo" /></h1>
            </div>
            <div class="mainmenu">
                <ul>
                    <li class="nc"><a href="#" onclick=hideAll()>Главная</a></li>
                    <li class="nc"><a href="#">Магазин</a><ul class="ul_ch">
                        <li class="nc"><a href="#!/phones/1" onclick=showCategoryPage('phones',1)>Телефоны</a></li>
                        <li class="nc"><a href="#!/tablets/1" onclick=showCategoryPage('tablets',1)>Планшеты</a></li>
                        <li class="nc"><a href=#!/cameras/1" onclick=showCategoryPage('cameras',1)>Лэптопы</a></li>
                        <li class="nc"><a href="#!/players/1" onclick=showCategoryPage('players',1)>Аксессуары</a></li>
                    </ul></li>
                    <li class="nc"><a href="#!/booking"  onclick=show("booking")>Заказ и доставка</a></li>
                    <li class="nc"><a href="#!/contacts"  onclick=show("contacts")>Контакты</a></li>
                    <li class="nc"><a href="#!/cart"  onclick=show("cart")>Корзина</a></li>
                </ul>
            </div>
        </div></div></div>

<div id="templatemo_slider">
            <div id="featured" >
                <ul class="ui-tabs-nav">
                    <li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-1"><a href="#fragment-1"><img src="images/content_slider/image1-small.jpg" alt="Image1small" /><span>Новые модели телефонов уже в продаже</span></a></li>
                    <li class="ui-tabs-nav-item" id="nav-fragment-2"><a href="#fragment-2"><img src="images/content_slider/image2-small.jpg" alt="Image2small" /><span>Гарантия 12 месяцев</span></a></li>
                    <li class="ui-tabs-nav-item" id="nav-fragment-3"><a href="#fragment-3"><img src="images/content_slider/image3-small.jpg" alt="Image3small" /><span>Новейшие модели лептопов</span></a></li>
                    <li class="ui-tabs-nav-item" id="nav-fragment-4"><a href="#fragment-4"><img src="images/content_slider/image4-small.jpg" alt="Image4small" /><span>Аксессуары на любой вкус</span></a></li>
                </ul>

                <div id="fragment-1" class="ui-tabs-panel" style="">
                    <img src="images/content_slider/image1.jpg" alt="Image 1" />
                    <div class="info" >
                        <h2><a href="#" >Смартфоны</a></h2>
                        <p>В наличии модели всех известных производителей!<a href="#" > Далее</a></p>
                    </div>
                </div>

                <div id="fragment-2" class="ui-tabs-panel ui-tabs-hide" style="">
                    <img src="images/content_slider/image2.jpg" alt="Image 2" />
                    <div class="info" >
                        <h2><a href="#" >Планшеты</a></h2>
                        <p>Гарантия на все товары 12-24 месяца<a href="#" > Далее</a></p>
                    </div>
                </div>


                <div id="fragment-3" class="ui-tabs-panel ui-tabs-hide" style="">
                    <img src="images/content_slider/image3.jpg" alt="Image 3" />
                    <div class="info" >
                        <h2><a href="#" >Лэптопы</a></h2>
                        <p>У нас можно приобрести все новейшие модели!<a href="#" > Далее</a></p>
                    </div>
                </div>


                <div id="fragment-4" class="ui-tabs-panel ui-tabs-hide" style="">
                    <img src="images/content_slider/image4.jpg" alt="Image 4" />
                    <div class="info" >
                        <h2><a href="#" >Аксессуары</a></h2>
                        <p>Подберите подходящий аксессуар под свое приобретение!<a href="#" > Далее</a></p>
                    </div>
                </div>

            </div>
        </div>

<div class="body-content">

    <div class="page" id="booking" style="display: none">
        <div class="col_w220">
        <p>Заказ</p>
        <ul><li><a href="#/delivery" style="color: gray" onclick=showOrHideBlock("delivery")>Способ доставки</a></li>

            <li><a href="#/payment" style="color: gray" onclick=showOrHideBlock("payment")>Способ оплаты</a></li>

            <li><a href="#/booking_review" style="color: gray" onclick=showOrHideBlock("booking_review")>Обзор заказа</a></li></ul>
    </div><div class="col_w220">
        <div class = "block" id="delivery" style="display: none">
            <ul>
                <li>Город: <input type="text" /></li>
                <li>Улица: <input type="text" /></li>
                <li>Дом: <input type="text" /> Кв: <input type="text" /></li>
                <li>Телефон: <input type="text" /></li>
                <input type="button" value="Отправить адрес"/></ul>
        </div>
        <div class = "block" id="payment" style="display: none"><ul>
         <li>Имя держателя: <input type="text" /></li>
           <li>№ карты: <input type="text" /></li>
            <li>CVC: <input type="text" /></li>
            <input type="button" value="Заплатить!"/></ul>
        </div>
        <div class = "block" id="booking_review" style="display: none"></div>
    </div></div>
    <div class="page" id="cart" style="display: none">
        <div class="col_w220">
            <p>Корзина</p>

            <div id="cart-page-footer">
                <button id="return-to-catalog-button" onclick="redirect('phones/1')">Хочу купить что-то ещё</button>
            </div>
        </div>
        <div class="col_w220">
           <p><div id="total-page-price">$0</div></p>
        <button id="pay-button" onclick="redirect('phones/1')">Заплатить</button>
            </div>
        </div>
    <div class="page" id="contacts" style="display: none">
        <div class="col_w220"><h2>Телефоны:</h2></div><div class="col_w220">
        <ul>
            <li>+327-29-678-88-88</li>
            <li>+327-29-591-77-77</li>
            <li>+327-29-456-56-56</li>
        </ul></div>
    </div>
    <div class="page" id="catalog" style="display: none">
        <div id="device-grid"></div>
        <div id="device-filter">
            <div id="filter-widget">
                <p>Детализация</p>
                <hr>
                <form id="filter-form" action="#"></form>
            </div>
        </div>
    </div>

        </div>



<footer><div id="templatemo_footer_wrapper">
    <div id="footer_top"></div>

    <div id="templatemo_footer">
        <div class="phone-contacts">
            <div class = "col_w220">
            <h4>Звони нам!</h4>
            <span>+327-29-678-88-88</span> <br/>
            <span>+327-29-591-77-77</span> <br/>
            <span>+327-29-456-56-56</span>
        </div></div>
        <div class="catalog-links left-bordered">
            <div class = "col_w220">
            <h4>Каталог</h4>
            <ul>
                <li><a href="#!/phones/1" style="color: darkcyan">Телефоны</a></li>
                <li><a href="#!/tablets/1" style="color: darkcyan">Планшеты</a></li>
                <li><a href="#!/cameras/1" style="color: darkcyan">Фотоаппараты</a></li>
                <li><a href="#!/other/1" style="color: darkcyan">Аксессуары</a></li>
            </ul>
                </div>
        </div>
        <div class="subscription left-bordered">
            <input type="email" placeholder="Введите e-mail"/> </br>
            <input type="submit" value="Подписаться"/>
        </div>
           </div>
    </div>

    <div id="templatemo_copyright">

        Copyright © 2014

    </div>
</div>
</footer>



<script type="text/template" id="device-template">
    <div id="image-gallery"></div>
    <h1><%= device.itemTitle %></h1>
    <h2>$<%= device.price.min%></h2>
    <div id="device-description"><p><%=device.shortDescr%></p></div>
    <div id="device-buttons">
        <button onclick="cart.addItem('<%= category %>', <%= index %>)">В корзину</button>
        <button>Сравнить</button>
    </div>
    <div id="device-tabs">
        <div id = "tab-buttons">
            <button class = "tab-button selected" id="tech-info-tab-button">Техническое описание</button>
            <button class = "tab-button" id="comments-tab-button">Отзывы</button>
        </div>
        <div id="tech-info-tab" class="device-tab"></div>
        <div id="comments-tab" class="device-tab">
            <h3>Оставьте свой отзыв</h3>
            <hr>
            <input type="text" placeholder="Имя">
            <textarea>Текст отзыва</textarea>
            <button>Опубликовать отзыв</button>
        </div>
    </div>
</script>

<script type="text/template" id="image-gallery-template">
    <div id="large-image">
        <img src=<%=images[selected].fullSizeURL%> />
    </div>
    <div id="small-images">
        <% for(var i = offset; i < offset + 3; i++){%>
        <div onclick = "updateImageGallery('<%= category %>', <%=index%>, <%= i %>, <%= offset %>)" class="small-image <%= selected == i ? 'selected-image' : ''%>" >
            <img  src=<%=images[i].thumbURL%> />
        </div>
        <% }; %>
    </div>
    <div id = "gallery-buttons">
        <% if(offset > 0){%> <button onclick = "updateImageGallery('<%= category %>', <%=index%>, <%= selected %>, <%= offset -1 %>)"
                                     id="scroll-gallery-left-button">&lt;</button> <% }; %>
        <% if(offset < images.length - 3){%> <button onclick = "updateImageGallery('<%= category %>', <%=index%>, <%= selected %>, <%= offset + 1 %>)"
                                                     id="scroll-gallery-right-button">&gt;</button> <% }; %>
    </div>
</script>


<script src="js/vendors/underscore.js"></script>
<script src="js/filter.js"></script>
<script src="js/catalog.js"></script>
<script src="js/cart.js"></script>
<script src="js/buildingGoodsPages.js"></script>
<script src="js/global.js"></script>
</body>
</html>