@import "http://webfonts.ru/import/aeromatics.css";
body,
html {
    background-color: aliceblue;
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
}
input,
select,
button {
    font-family: Helvetica;
    font-weight: 600;
    color: #7a7a7a;
    height: 20px;
    margin-bottom: 5px;
    border: 1px solid darkgray;
    border-radius: 4px;
}
input[type="email"],
select[type="email"],
button[type="email"],
input[type="number"],
select[type="number"],
button[type="number"] {
    padding-left: 5px;
}
button {
    background: white;
}
button:hover {
    background-color: #00a2e8;
    border-color: white;
    color: white;
}
select {
    min-width: 40px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    font-family: Aeromatics, Helvetica;
}
header {
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    padding: 1% 10% 0% 10%;
    background-color: #00a2e8;
    color: white;
}
header .main-logo {
    display: inline;
    margin-left: 7px;
}

header a {
    color: white;
}
header #cart-counter {
    color: #00a2e8;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0px 3px 0px 3px;
}
header #cart-widget {
    display: none;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    right: 10%;
    padding: 5px;
    border: 1px solid #00a2e8;
    background-color: white;
    width: 390px;
    color: #7a7a7a;
    border-radius: 5px;
}
header #cart-widget #cart-items {
    max-height: 400px;
    overflow-y: auto;
}
header #cart-widget .device-cart-view {
    height: 80px;
}
header #cart-widget .device-cart-view:hover {
    cursor: pointer;
}
header #cart-widget .device-cart-view:hover .delete-button-container {
    display: inline-block;
}
header #cart-widget .device-cart-view div {
    display: inline-block;
    float: left;
}
header #cart-widget .device-cart-view .description-preview {
    width: 200px;
    margin-top: 20px;
}
header #cart-widget .device-cart-view .description-preview p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
header #cart-widget .device-cart-view .image-preview {
    width: 80px;
    height: 80px;
    position: relative;
}
header #cart-widget .device-cart-view .image-preview img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 80%;
    max-width: 80%;
}
header #cart-widget .device-cart-view .delete-button-container {
    display: none;
}
header #cart-widget .device-cart-view .delete-button-container button {
    margin-top: 26px;
    margin-left: 15px;
}
header #cart-widget button {
    background: white;
}
header #cart-widget button:hover {
    background-color: #00a2e8;
    border-color: #00a2e8;
    color: white;
}
header #cart-widget #order-button {
    float: left;
}
header #cart-widget #total-price {
    float: right;
}
header #cart-widget #cart-footer {
    padding: 5px;
}
header nav ul {
    padding-left: 0;
}
header nav ul li {
    margin-left: 5px;
    display: inline;
}
header nav ul #cart-button {
    float: right;
}
header nav ul #cart-button a:hover {
    text-decoration: none;
    cursor: pointer;
}
.body-content {
    height: auto;
    margin-top: 120px;
    padding: 0 10% 0 10%;
}
footer {
    display: table-row;
    height: 1px;
}
.footer-wrapper {
    bottom: 0;
    height: auto;
    background-color: #7a7a7a;
    color: aliceblue;
    padding: 1% 15%;
    display: flex;
}
.footer-wrapper div {
    padding: 0% 2%;
    width: 25%;
}
.footer-wrapper .left-bordered {
    border-left: 2px solid aliceblue;
}
.footer-wrapper .catalog-links ul {
    padding-left: 8px;
    list-style: none;
}
.footer-wrapper .catalog-links ul a {
    color: aliceblue;
    text-decoration: none;
}
.footer-wrapper .catalog-links ul a:hover {
    text-decoration: underline;
}
.footer-wrapper .subscription {
    padding-top: 20px;
}
.footer-wrapper .subscription input[type="submit"] {
    margin-top: 5px;
    background: white;
}
.footer-wrapper .subscription input[type="submit"]:hover {
    background-color: #00a2e8;
    border: #00a2e8;
    color: white;
}
.footer-wrapper .subscription input[type="submit"]:active {
    padding-top: 3px;
}
.footer-wrapper .subscription input[type="email"] {
    width: 100%;
}
.footer-wrapper .trade-mark {
    padding-top: 140px;
}
.links-container {
    width: 100%;
    float: left;
}
.links-container #page-links {
    display: table;
    margin: 5px auto;
    padding-left: 0;
}
.links-container #page-links li {
    margin-left: 3px;
    display: inline;
}
.links-container #page-links li a {
    color: #7a7a7a;
}
.links-container #page-links li a:hover {
    cursor: pointer;
    color: #00a2e8;
}
.links-container #page-links li.selected a {
    color: black;
}
#device-grid {
    width: 70%;
    float: left;
}
#device-grid .device-preview {
    float: left;
    width: 200px;
    height: 270px;
    border: 1px solid #00a2e8;
    border-radius: 4px;
    margin: 10px;
    background-color: white;
}
#device-grid .device-preview .image-preview {
    height: 50%;
    position: relative;
}
#device-grid .device-preview .image-preview img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 80%;
}
#device-grid .device-preview .description-preview {
    background-color: #00a2e8;
    height: 30%;
    color: white;
    padding: 5px;
}
#device-grid .device-preview .description-preview p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#device-grid .device-preview .preview-buttons {
    height: 20%;
}
#device-grid .device-preview .preview-buttons ul {
    width: 100%;
    margin: 11px 0 0 0;
    padding: 0;
}
#device-grid .device-preview .preview-buttons ul li {
    height: 100%;
    width: 50%;
    display: inline-block;
    float: left;
    text-align: center;
}
#device-grid .device-preview .preview-buttons ul li a {
    height: 100%;
    color: #00a2e8;
}
#device-grid .not-found-label {
    display: table;
    margin: 0 auto;
    margin: auto;
}
#device-filter #filter-widget {
    position: fixed;
    margin-top: 10px;
    margin-left: 55%;
    padding: 5px;
    border: 1px solid #00a2e8;
    background-color: #00a2e8;
    width: 230px;
    color: white;
    border-radius: 4px;
}
#device-filter #filter-widget .checkLine input {
    margin: 0 3px 0 0;
    height: 13px;
}
#filter-form label {
    margin-right: 5px;
}
#filter-form input[type="number"] {
    width: 50px;
    margin-right: 5px;
}
#filter-form input[type="submit"] {
    display: block;
    margin-top: 5px;
    background: white;
}
#filter-form input[type="submit"]:hover {
    background-color: #00a2e8;
    border-color: white;
    color: white;
}
#filter-form input[type="submit"]:active {
    padding-top: 3px;
}
#cart-page {
    margin-bottom: 20px;
}

#cart-page #cart-page-items {
    border-top: 1px solid #7a7a7a;
    border-bottom: 1px solid #7a7a7a;
}
#cart-page #cart-page-items .device-cart-view {
    height: 80px;
}
#cart-page #cart-page-items .device-cart-view:hover {
    cursor: pointer;
}
#cart-page #cart-page-items .device-cart-view:hover .delete-button-container {
    display: inline-block;
}
#cart-page #cart-page-items .device-cart-view div {
    display: inline-block;
    float: left;
}
#cart-page #cart-page-items .device-cart-view .description-preview {
    margin-top: 20px;
}
#cart-page #cart-page-items .device-cart-view .description-preview p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#cart-page #cart-page-items .device-cart-view .image-preview {
    width: 80px;
    height: 80px;
    position: relative;
}
#cart-page #cart-page-items .device-cart-view .image-preview img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 80%;
    max-width: 80%;
}
#cart-page #cart-page-items .device-cart-view .delete-button-container {
    display: none;
    float: right;
}
#cart-page #cart-page-items .device-cart-view .delete-button-container button {
    margin-right: 10px;
    margin-top: 28px;
}
#cart-page #cart-page-items .device-cart-view .count-editor {
    margin-top: 26px;
    margin-right: 17px;
    float: right;
}
#cart-page #cart-page-items .device-cart-view .count-editor input {
    width: 40px;
}
#cart-page #cart-page-items .device-cart-view .count-editor span {
    width: 50px;
    display: inline-block;
    margin-left: 5px;
}
#cart-page #cart-page-footer {
    height: 70px;
}
#cart-page #cart-page-footer button {
    float: left;
}
#cart-page #cart-page-footer #pay-section {
    float: right;
}
#cart-page button {
    background: white;
}
#cart-page button:hover {
    background-color: #00a2e8;
    border-color: #00a2e8;
    color: white;
}
#device-page {
    margin-bottom: 20px;
    top: 0;
}
#device-page h1 {
    margin-left: 30px;
}
#device-page #image-gallery {
    width: 335px;
    float: left;
    margin-left: 30px;
}
#device-page #image-gallery img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 90%;
    max-width: 90%;
}
#device-page #image-gallery #small-images {
    margin-top: 5px;
}
#device-page #image-gallery #large-image {
    background-color: white;
    border: 1px solid #00a2e8;
    width: 280px;
    height: 320px;
    position: relative;
    border-radius: 4px;
}
#device-page #image-gallery .small-image {
    background-color: white;
    margin-right: 3px;
    float: left;
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 4px;
    border: 1px solid white;
}
#device-page #image-gallery .selected-image {
    border: 1px solid #00a2e8;
    border-radius: 4px;
}
#device-page #image-gallery #scroll-gallery-right-button {
    float: right;
}
#device-page #image-gallery #gallery-buttons {
    display: inline-block;
    margin-top: 35px;
    margin-left: -310px;
    width: 337px;
}
#device-page #device-wrapper {
    min-height: 500px;
    background-color: white;
    border-top: 1px solid #7a7a7a;
    border-bottom: 1px solid #7a7a7a;
    padding: 10px;
}
#device-page #device-wrapper #device-description {
    height: 140px;
}
#device-page #device-wrapper button {
    margin-right: 5px;
}
#device-page #device-wrapper #device-tabs {
    margin-top: 35px;
}
#device-page #device-wrapper #device-tabs #tab-buttons {
    width: 100%;
    height: 30px;
}
#device-page #device-wrapper #device-tabs #tab-buttons button {
    border-bottom: 0;
    float: left;
    display: inline-table;
    border-collapse: collapse;
    border-radius: 0;
    height: 30px;
    margin: 0;
    margin-right: 0;
}
#device-page #device-wrapper #device-tabs #tab-buttons button:hover {
    border-color: #00a2e8;
    color: #7a7a7a;
    background-color: white;
}
#device-page #device-wrapper #device-tabs #tab-buttons button.selected {
    border: #00a2e8;
    background-color: #00a2e8;
    color: white;
}
#device-page #device-wrapper #device-tabs .device-tab {
    display: inline-block;
    width: 55%;
    border: 1px solid #7a7a7a;
}
#device-page #device-wrapper #device-tabs #tech-info-table {
    width: 100%;
}
#device-page #device-wrapper #device-tabs #comments-tab {
    padding: 10px;
}
#device-page #device-wrapper #device-tabs #comments-tab input {
    padding-left: 3px;
    width: 400px;
}
#device-page #device-wrapper #device-tabs #comments-tab textarea {
    border: 1px solid darkgray;
    color: #7a7a7a;
    width: 400px;
    height: 200px;
    border-radius: 3px;
    font-family: Helvetica;
    resize: none;
    font-weight: 600;
}

